@font-face {
    font-family: NormalFont;
    src: url(../fonts/ArbFONTS-FFShamelFamily-SansOneBook.ttf);
}

@font-face {
    font-family: BoldFont;
    src: url(../fonts/ArbFONTS-FFShamelFamily-SansOneBold.ttf);
}

body {
    direction: rtl;
    font-family: NormalFont;
    overflow-x: hidden;
    height: 100%;
}


.Texts {
    font-size: 18px;
    line-height: 30px;
}

.BigTexts {
    font-size: 25px;
    line-height: 50px;
    font-weight: 600;
}

.SectionTitle {
    font-size: 25px;
    line-height: 50px;
    font-family: BoldFont;
}

.OrangeText {
    color: #FFB703;
}

.BlueText {
    color: #0f73fc;
}

.WhiteText {
    color: white;
}

.GreyText {
    color: #58595b;
}

.WhiteBG {
    background-color: white;
}

.OrangeBG {
    background-color: #FFB703;
}

.BlueBG {
    background-color: #0f73fc;
}

.GreyBG {
    background-color: #EFEFEF;
}

b, strong, .BoldFont {
    font-family: BoldFont;
}

.redText {
    color: red;
}

/************
Navbar
**************/
nav.navbar {
    padding: 40px 0px !important;

}

nav.navbar.active, nav.navbar.NoBgNav {
    background-color: white;
    filter: drop-shadow(3px 0px 6px rgba(0, 0, 0, 0.11));
    transition: 0.3s ease all;
    padding: 20px 0px !important;
}

.navbar-brand {

    filter: brightness(0) invert(1);
    margin-left: 25px;
    transition: background-color 0.3s ease;

}

.navbar-nav .nav-link {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    margin-left: 25px;
    opacity: 0.9;
}

nav.active .navbar-nav .nav-link, nav.NoBgNav .navbar-nav .nav-link {
    color: black !important;
    transition: 0.3s ease all;

}

nav.active .navbar-nav .nav-link.active, nav .navbar-nav .nav-link.active, nav.NoBgNav .navbar-nav .nav-link.active {
    font-family: BoldFont;
    opacity: 1;

}

nav.active .navbar-nav .nav-link:hover, nav.NoBgNav .navbar-nav .nav-link:hover {
    color: black;
}

nav.active .navbar-brand, nav.NoBgNav .navbar-brand {
    filter: none;
    transition: 0.3s ease all;

}

.navbar-light .navbar-nav .nav-link {
    color: #555;
}

nav .NavBtn {
    background-color: #FFB703;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    box-shadow: none;
    padding: 5px 15px;
    transition: 0.3s ease all;
}

nav .NavBtn:hover {
    filter: brightness(85%);
}

nav.active .NavBtn, nav.NoBgNav .NavBtn {
    background-color: #0f73fc;
}

/************
End Navbar
**************/


/************
Header
**************/
header.header {
    height: 110vh;
    width: 100vw;
    background-image: url(../images/Header/BGBlue.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

header.header h1 {
    font-size: 35px;
    line-height: 60px;
    font-family: BoldFont;
    animation: fade;
    animation-duration: 2s;
}

header.header h2 {
    font-size: 20px;
    font-weight: 200;
    line-height: 75px;

}

header.header h2 span {
    font-family: BoldFont;
    border-bottom: 8px solid #FFB703;
}

header.header .Texts {
    font-size: 19px;
    margin: 0px 20px;
}

header.header .PhonePart img {
    position: absolute;
    bottom: 0;
    left: 10%;
    width: 500px;
}

header.header .ButtonRow a img {
    transition: 0.3s ease all;
    width: 95% !important;
}

header.header .ButtonRow a:hover img {
    filter: brightness(75%);
}


/************
End Header
**************/




/************
Characteristics
**************/
section.Characteristics .Texts {
    font-size: 22px;
    line-height: 45px;
    font-family: BoldFont;
    text-align: center;
    padding: 20px 30px;
    background-color: #EDEDED;
    border-radius: 25px;

}

section.Characteristics .CharacteristicCards, section.TargetCategories .CharacteristicCards {
    display: flex;
    flex-direction: column;
    width: 100%;

}

section.Characteristics .CharacteristicCards .GreyText, section.TargetCategories .CharacteristicCards .GreyText {
    text-align: center;
    font-size: 18px;
    font-family: BoldFont;
    margin-top: 20px;
    color: #494949;
}

section.Characteristics .CharacteristicCards img {
    width: 60%;
    margin: auto;
}

/************
End Characteristics
**************/


/************
Companies
**************/
section.Companies .Texts img {
    width: 20px;
}

section.Companies .List .Texts {
    line-height: 30px;
}

section.Companies .DownloadNow {
    font-size: 18px;
    font-family: BoldFont;
    padding: 10px 40px;
    border-radius: 20px;
    text-decoration: none;
    float: left;
    display: block;
    transition: 0.4s ease all;
    width: fit-content;
}

section.Companies .DownloadNow:hover {
    background-color: #e27900;
    color: white;
}

section.Companies .CompanyImage img {
    width: 75% !important;
}

/************
End Companies
**************/

/************
TargetCategories
**************/
section.TargetCategories .SectionTitle, section.Statistics .SectionTitle {
    color: #494949;
}

section.TargetCategories .CharacteristicCards {
    background-color: white;
    border-radius: 20px;
    padding: 30px 0px;
    filter: drop-shadow(3px 6px 6px rgba(0, 0, 0, 0.2));
    height: 100%;
    align-items: center;
    justify-content: space-between;
    min-height: 185px;
}

section.TargetCategories .CharacteristicCards img {
    width: 50%;
    margin: auto;
}

section.TargetCategories .CharacteristicCards .GreyText {
    margin-top: 10px;
    font-size: 16px;
}

/************
End TargetCategories
**************/


/************
AppImages
**************/
section.AppImages {
    position: relative;
}

section.AppImages .Texts {
    color: #494949;

}

section.AppImages .PhoneImg {
    position: absolute;
    width: 24%;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 120;

}

section.AppImages .carousel-cell {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 25%;
    height: 75vh;
    margin-right: 10px;
    border-radius: 5px;
    counter-increment: carousel-cell;
}

section.AppImages .carousel-cell img {
    width: 85%;
    margin: auto;
}

.flickity-viewport {
    height: 676px !important;
}

section.AppImages .flickity-page-dots {
    display: none;
}

section.AppImages .flickity-prev-next-button {
    filter: drop-shadow(3px 6px 6px rgba(0, 0, 0, 0.20));
    background-color: #0f73fc;
    color: white !important;
}


.AnimatedSearch {
    opacity: 0;
    position: absolute;
    left: 52%;
    top: 52%;
    transform: translate(150%, 150%);

    transition: 1.5s ease all;
    width: 50px !important;
}

.active .AnimatedSearch {
    opacity: 1;
    width: 30px !important;
    transform: translate(-50%, -50%);
}

/************
End AppImages
**************/

/************
Statistics
**************/
section.Statistics .CharacteristicCards img {
    width: 65%;
}

/************
End Statistics
**************/


/***********
Footer
***********/

footer .h7-md {
    font-family: BoldFont;
}

footer a {
    text-decoration: none;
    color: black;
}

footer .SocialMedia span {
    margin-left: 5px;
}

/***********
End Footer 
************/

/************************************
************************************
About Us
************************************
**************************************/

/*Header*/
.AboutUs header.header {
    background-image: url(../images/AboutUs/1stsection.png);
    height: 85vh;
}

.AboutUs header.header h2 {
    font-size: 25px;
    font-family: BoldFont;
}

.AboutUs section.OurMessage .SectionTitle {
    font-size: 25px;
}

.AboutUs section.OurMessage .BlueBG, .AboutUs section.OurMessage .GreyBG {
    border-radius: 30px;
}

.AboutUs section.OurMessage .Texts {
    font-size: 18px;
    line-height: 30px;
}

.AboutUs section.Characteristics .Texts {
    background-color: transparent;
    font-size: 20px;
}

.AboutUs section.Characteristics .CharacteristicCards .GreyText {
    font-size: 20px;
}

.AboutUs section.OurTeam .BlueBG {
    border-radius: 25px;
}

.AboutUs section.OurTeam .Texts {
    font-size: 22px;
    text-align: center;
    line-height: 60px;
}

.AboutUs section.OurTeam .paragraph {
    font-size: 15px;
    text-align: center;
}

.AboutUs .BorderLeft {
    position: relative;
    z-index: 1;

}

.AboutUs .BorderLeft:before {
    content: "";
    position: absolute;
    left: -25%;
    top: 50%;
    height: 1px;
    width: 50%;
    transform: rotate(90deg);
    border-bottom: 1px solid #58595b;
}


section.FormPart .WhiteBG {
    border-radius: 25px;
}

section.FormPart .paragraph {
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #0f73fc;

}

section.FormPart input, section.FormPart textarea {
    width: 100%;
    border: none;
    background-color: #EFEFEF;
    border-radius: 5px;
    font-size: 20px;
    outline: none;
    padding: 5px 10px;
    color: #58595b;
}

.error {
    border: 1px solid red !important;
}

.true {
    border: 1px solid green !important;

}

.FormTextError {
    font-size: 16px;
    line-height: 20px;
    color: red;
}

.FormTextGreen {
    font-size: 16px;
    line-height: 20px;
    color: green;
}

section.FormPart .row .d-flex .paragraph {
    width: 30%;
    margin-bottom: 0;
}

section.FormPart .row .d-flex input {
    width: 70%;
}

section.FormPart .SectionTitle {
    font-size: 30px;
}

section.FormPart textarea {
    border-radius: 20px;
}

section.FormPart button {
    font-size: 22px;
    padding: 10px 50px;
    border-radius: 25px;
}

/************************************
************************************
End About Us
************************************
**************************************/


/************************************
************************************
Companies Page
************************************
**************************************/
.CompaniesPage header.header h2 {
    line-height: 40px;
}

.CompaniesPage header.header h1 {
    font-size: 25px;
    line-height: 45px;
}

.CompaniesPage header.header {
    background-image: url(../images/CompaniesPage/HeaderBG.png);
}

.CompaniesPage header.header .BigText img {
    filter: brightness(0) invert(1);
    width: 200px;
}

.CompaniesPage header.header .BigText .OrangeText {
    font-size: 40px;
    font-family: BoldFont;
}

.CompaniesPage header.header .FormPart.GreyBG {
    border-radius: 20px;
}

.CompaniesPage header.header .FormPart .WhiteBG {
    border-radius: 20px;
    margin-top: 20px;
}

.CompaniesPage header.header .FormPart input, .CompaniesPage header.header .FormPart textarea {
    width: 100%;
    border-radius: 10px;
    outline: none;
    border: 1px solid #C4C4C4;
}

.CompaniesPage header.header .FormPart textarea {
    height: 100px;
}

.CompaniesPage header.header .FormPart button {
    border-radius: 10px;
}

.CompaniesPage section.HowTo {
    margin-bottom: 175px;
    padding-bottom: 100px !important;
}

.CompaniesPage section.HowTo .HowToRow {
    position: absolute;
    bottom: -40%;
    left: 50%;
    transform: translateX(-50%);
}

.CompaniesPage .VideoPart .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.CompaniesPage .VideoPart video {
    height: 80vh;
    margin: auto;
    border-radius: 30px;
}

.CLickButton {
    border-radius: 10px;
    font-size: 18px;
    padding: 5px 25px;
    transition: 0.3s ease all;
    margin-top: 20px;
}

.CLickButton:hover {
    color: white;
    filter: brightness(80%);

}

.TextAndIconImages {
    width: 25%;
}

/****
Reviews
****/

.CompaniesPage .ReviewsPart .carousel-cell {
    width: 40%;
    height: 250px;
    margin-right: 10px;
    border-radius: 5px;
    counter-increment: carousel-cell;
    display: flex;
    align-items: center;
    justify-content: center;
}

.CompaniesPage .ReviewsPart .carousel-cell .BigCard {
    background-color: #C4C4C4;
    border-radius: 20px;
    max-height: 225px;
    min-height: 25px;
    overflow: hidden;
    opacity: 0.3;
    width: 90%;
    transition: 0.3s ease all;
}

.CompaniesPage .ReviewsPart .is-selected .BigCard {
    opacity: 1 !important;
    max-height: 250px;
    min-height: 250px;

    width: 100%;
}

.CompaniesPage .ReviewsPart .carousel-cell .BigCard .Rating {
    font-size: 16px;
    color: #494949;
}

.CompaniesPage .ReviewsPart .carousel-cell .BigCard img {
    border-radius: 50%;
}

.CompaniesPage .ReviewsPart .carousel-cell .BigCard .ReviewText {
    font-size: 15px;
    line-height: 25px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.CompaniesPage .ReviewsPart .carousel-cell.is-selected .BigCard .ReviewText {
    -webkit-line-clamp: 4;

}

.CompaniesPage .ReviewsPart .flickity-viewport {
    height: 270px !important;
}

/************************************
************************************
End Companies
************************************
**************************************/


/************************************
************************************
Blog
************************************
**************************************/
.BlogPage header.header {
    background-image: unset !important;
    height: 75vh;
}

.BlogPage header.header .BlueBG {
    border-radius: 15px;
}

.BlogPage header.header a h1 .BigText {
    font-size: 45px;
    border-bottom: 8px solid #FFB703;
    margin-top: 20px;
    display: block;
}

.BlogPage header.header a {
    text-decoration: none !important;
}

.BlogPage header.header a h1 {
    transition: 2s ease all;
}

.BlogPage header.header .BlueBG:hover h1 {
    transform: scale(1.2);
}

.BlogPage header.header .TextPart .paragraph {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    /* Limit to 6 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.BlogPage header.header a {
    color: #494949 !important;
}

.BlogPage header.header a:hover {
    color: #0f73fc !important;
}

.BlogPage .NavAndtabs .paragraph {
    color: #494949;
    font-family: BoldFont;
    padding: 7px 20px;
    border-radius: 5px;

}



.BlogPage .NavAndtabs .paragraph.CurrentNav ,.BlogPage .NavAndtabs .paragraph:hover{
    color: #0f73fc !important;
    background-color: #0f72fc60 !important;
}
.BlogPage .paragraph {
    font-size: 16px;
}
.BlogPage .BlogCards a {
    text-decoration: none;
}

.BlogPage .BlogCards a .card {
    background-color: transparent;
    border: none;
    justify-content: space-between;
    padding-bottom: 30px;
    border-bottom: 1px solid #b8b8b8;
}

.BlogPage .BlogCards a .card .ImgContainer {
    width: 100%;
    height: fit-content;
    overflow: hidden;
    border-radius: 5px;
}

.BlogPage .BlogCards a .card img {
    border-radius: 5px;
    transition: 2s ease all;
}

.BlogPage .BlogCards a .card img:hover {
    transform: scale(1.2);
}

.BlogPage .BlogCards a .card .paragraph.GreyText.BoldFont:hover {
    color: #FFB703;
}

.BlogPage .BlogCards .pagination a.page-link {
    border: none;
    background-color: #0f72fc49;
    border-radius: 5px;
    margin-left: 10px;
    color: #494949;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    padding: 0px;
}

.BlogPage .BlogCards .pagination .active a.page-link {
    background-color: #0f72fc;

    color: white;
}

.BlogPage .NewsLetter form input {
    border: 1px solid #58595b;
    padding: 10px;
    border-radius: 5px;
}

.BlogPage .NewsLetter form button {
    border-radius: 5px;
}

.BlogCards .TopLink {
    background-color: #0f72fc46;
    border-radius: 20px;
    padding: 5px 20px;
}

.MoreBlogBtn {
    width: 35%;
    border-radius: 20px;
    border: none;
    padding: 7px;
    margin: auto;
}

.modal .paragraph {
    font-size: 22px;
}

.paragraph {
    font-size: 20px;
}

.CheckSignWhite {
    filter: brightness(0) invert(1);
}

/**Comments***/
.CommentSection .date {
    font-size: 11px;
}

.CommentSection .comment-text {
    font-size: 12px;
}

.CommentSection .fs-12 {
    font-size: 12px;
}

.CommentSection .shadow-none {
    box-shadow: none;
}

.CommentSection .name {
    color: #0f73fc;
}

.CommentSection .cursor:hover {
    color: #0f73fc;
}

.CommentSection .cursor {
    cursor: pointer;
}

.CommentSection .textarea {
    resize: none;
}


/************************************
************************************
End Blog
************************************
**************************************/

/************************************
************************************
Individulas Page
************************************
**************************************/
.IndividulasPage header.header {
    background-image: url(../images/IndividualsPage/HeaderBg.png);
}

a {
    text-decoration: none !important;
}

a:hover {
    color: unset !important;
}

.IndividulasPage section.HowTo {
    padding-bottom: 3rem !important;
    margin-bottom: unset !important;
}

.OrangeButton {
    width: fit-content;
    border-radius: 10px;
    transition: 0.3s ease all;
}

.OrangeButton:hover {
    color: white !important;
    filter: brightness(80%);
}

.CardPart .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.CardPart .card img {
    height: 80px;
}

.BorderBottom {
    border-bottom: 1px solid black !important;
}

.blackBorder {
    position: absolute;
    left: 0;
    top: 50%;
    width: 1px;
    height: 100%;
    background-color: black;
}

.RegiterNow {
    border-bottom: 8px solid #FFB703;
    width: fit-content;
    transition: 0.4s ease all;
}

.RegiterNow:hover {
    color: white !important;
    transform: scale(1.1);
}

/************************************
************************************
End Individulas Page
************************************
**************************************/


/************************************
************************************
Media
************************************
**************************************/


@media (min-width: 1400px) {

    header.header .blueRectangle {
        left: 14%;
        width: 200px;
    }

    header.header .ImagePart img {
        width: 75%;
    }
}

@media (max-width: 1400px) {
    header.header .PhonePart img {
        left: 5%;
        width: 500px;
    }

    .flickity-viewport {
        height: 536px !important;
    }
}

@media (max-width: 1200px) {
    header.header .PhonePart img {
        width: 450px;
    }

    section.AppImages .PhoneImg {
        position: absolute;
        width: 24%;
    }

    header.header h1 {
        font-size: 35px;
        line-height: 60px;
    }

    header.header h2 {
        font-size: 20px;
    }

    .SearchIcon {
        width: 25px;
    }

    header.header .Texts {
        font-size: 14px;
    }

    section.Characteristics .Texts {
        font-size: 22px;
        line-height: 45px;
        margin-bottom: 30px;
    }

    section.Characteristics .CharacteristicCards img {
        width: 70%;
    }

    .SectionTitle {
        font-size: 35px;
    }

    .Texts {
        font-size: 18px;
    }

    section.Companies .DownloadNow {
        font-size: 18px;
    }

    section.TargetCategories .SectionTitle, section.Statistics .SectionTitle {
        font-size: 30px;
    }

    section.TargetCategories .CharacteristicCards .GreyText {
        font-size: 18px;
    }

    section.AppImages .carousel-cell {
        display: flex;
        justify-content: center;
        align-items: end;
    }

    section.AppImages .carousel-cell img {
        width: 90%;
        margin: unset;
    }

    section.Statistics .CharacteristicCards img {
        width: 70%;
    }

    .BigTexts {
        font-size: 22px;
    }

    section.Statistics .CharacteristicCards .SectionTitle {
        font-size: 25px;
    }

    .AboutUs section.OurMessage .SectionTitle {
        font-size: 25px;
    }

    .AboutUs section.OurMessage .Texts {
        font-size: 16px;
        line-height: 30px;
    }

    .MapImage img {
        width: 100% !important;
    }

    .MapImage img.AnimatedSearch {
        width: 27px !important;
    }

}

@media (max-width: 991px) {

    .CompaniesPage header.header {
        height: fit-content !important;
        padding-bottom: 50px !important;
        padding-top: 70px !important;
    }

    .IndividulasPage.CompaniesPage header.header {
        height: 100vh !important;
    }

    .BraketsPart {
        flex-direction: column;
        text-align: center;
    }

    .BraketsPart .OrangeText {
        text-align: start;
    }

    .list {
        margin: auto;
    }

    .RegiterHeaderBtn {
        display: flex;
        justify-content: center;
    }

    .CompaniesPage header.header .BigText {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .CompaniesPage header.header .Texts {
        text-align: center;
    }

    .CompaniesPage section.Characteristics .TargetRow {
        width: 100% !important;
    }

    .CompaniesPage section.HowTo .HowToRow {
        width: 100% !important;
        transform: unset;
        position: unset;
    }

    .CompaniesPage section.HowTo {
        margin-bottom: 0px;
        padding-bottom: 20px !important;
        padding-top: 20px !important;
    }

    .TextAndIconImages {
        width: 35%;
        margin-top: 20px;

    }

    .CompaniesPage .ReviewsPart .carousel-cell .BigCard img {
        width: 50% !important;
    }

    .CompaniesPage .ReviewsPart .carousel-cell .BigCard .card-body {
        padding: 0px !important;
    }

    .CompaniesPage .ReviewsPart .carousel-cell .BigCard h5.card-title.Texts.BoldFont.WhiteText {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin-bottom: 0px !important;
    }

    .CompaniesPage .ReviewsPart .carousel-cell .BigCard {
        height: 425px;

    }

    .CompaniesPage .ReviewsPart .is-selected .BigCard {
        height: 450px;
    }

    .CompaniesPage .ReviewsPart .carousel-cell .BigCard .ReviewText {
        font-size: 13px;
        line-height: 14px;
        text-align: center;
    }

    .CompaniesPage .HowTo .SectionTitle {
        font-size: 16px;
    }

    .CompaniesPage .ReviewsPart .carousel-cell .BigCard .card-text {
        text-align: center;
    }

    .CompaniesPage .ReviewsPart .carousel-cell .BigCard .Rating {
        font-size: 13px;
    }

    .CompaniesPage .ReviewsPart .carousel-cell .BigCard .Rating svg {
        margin-left: 0px !important;
    }

    .CharacRow {
        width: 100% !important;
    }

    section.AppImages .carousel-cell {
        height: 21vh;
    }

    .flickity-viewport {
        height: 180px !important;
    }

    header.header .Texts {
        font-size: 18px;
    }

    section.Characteristics .Texts {
        font-size: 20px;
    }

    section.Characteristics .CharacteristicCards img {
        width: 85%;
        margin: 0px auto;
    }

    .PhoneImage img {
        width: 50% !important;
    }

    section.Characteristics .CharacteristicCards {
        justify-content: space-between;
        height: 100%;
    }

    header.header {
        height: 100vh;

        padding-bottom: 0px !important;
        display: flex;
        flex-direction: column;
        justify-content: end;
    }

    .AboutUs header.header {
        justify-content: center;
    }

    header.header .h-100 {
        height: fit-content !important;
    }

    header.header h2 {
        text-align: center;
    }

    .PhonePart {
        display: flex;
        align-items: end;
        justify-content: center;
    }

    header.header .PhonePart img {
        position: relative;
    }

    .AboutUs .BorderLeft {
        margin-bottom: 35px;
    }

    section.FormPart .SectionTitle {
        text-align: center;
    }

    .PhoneRow {
        flex-direction: column;
    }

    section.FormPart .row .d-flex .paragraph {
        width: 100%;
        margin-bottom: 20px;
    }

    section.FormPart .row .d-flex input {
        width: 100%;
    }

    .AboutUs .BorderLeft::before {
        top: unset;
        bottom: -20px;
        left: 50%;
        transform: rotate(0deg) translateX(-50%);
        width: 75%;
    }

    .AboutUs section.OurMessage .Texts {
        font-size: 14px;
        line-height: 25px;
        text-align: center;
    }

    .AboutUs section.OurMessage .SectionTitle {
        font-size: 22px;
        text-align: center;
    }

    .AboutUs header.header h2 {
        font-size: 20px;
        text-align: center;
        line-height: 45px;
    }

    header.header h1 {
        font-size: 30px;
        text-align: center;
        margin-top: 40px;
    }

    section.Companies .DownloadNow {
        display: flex;
        margin: auto;
        border-radius: 10px;
    }

    .CompanyImage img {
        margin-top: 40px;
        width: 50% !important;
        margin: auto;
    }

    .AboutUs section.OurTeam .Texts {
        font-size: 20px;
        text-align: center;
        line-height: 55px;
    }

    section.AppImages .carousel-cell {

        height: 55vh;
    }

    .flickity-enabled.is-draggable .flickity-viewport {
        height: 400px;
    }

    .MapImage img {
        width: 100% !important;
    }

    .MapImage img.AnimatedSearch {
        width: 27px !important;
    }

    section.Statistics .CharacteristicCards img {
        width: 55%;
    }



    section.Companies .Texts.mb-5 {
        margin-top: 20px !important;
        margin-bottom: 30px !important;
    }

    section.Companies .SectionTitle {
        line-height: 35px;
    }

    .collapse:not(.show) {
        display: none !important;
        opacity: 0;
        transition: 0.5s ease all;

    }

    .collapse {
        display: flex !important;

        opacity: 1;
        transition: 0.5s ease all !important;

    }

    .navbar-toggler {
        box-shadow: none !important;
        z-index: 2000;
        background-color: white;
        color: #0f73fc !important;
        outline: none !important;
        padding: 0;
        width: 40px;
        height: 40px;

    }

    .navbar-brand {
        z-index: 2000;
    }

    .navbar-nav .nav-link {
        color: black !important;
        text-align: center;
        font-size: 25px;
        margin-bottom: 25px;
    }

    .navbar-collapse {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        background-color: white;
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center !important;
        justify-content: center !important;
        z-index: 1000;
    }
}


@media (max-width: 767px) {
    .AboutUs section.OurTeam .paragraph {
        font-size: 13px;
    }
    .BorderBottomSmallScreen{
        border-bottom: 1px solid black !important;
    }
    .blackBorder {
        display: none;
    }
    .CardPart .card .paragraph {
        font-size: 16px;
    }
    .NewsLetter{
        width: 100% !important;
    }
    section.TargetCategories .CharacteristicCards {
        min-height: unset;
    }

    section.FormPart button {
        width: 100% !important;
    }

    section.Characteristics .CharacteristicCards img {
        width: 70%;
    }

    .BlogPage header.header {
        height: unset !important;
    }

    .BlogPage header.header a h1 .BigText {
        font-size: 40px;
    }

    .BlogPage header.header a h1 {
        text-align: center;
    }

    .BlogPage header.header .SectionTitle {
        line-height: 40px;
    }

    .TextAndImageBlog .w-50 {
        width: 100% !important;
    }

    .MoreBlogBtn {
        width: 75%;
    }
}


@media (max-width: 575px) {
    .AboutUs section.Characteristics .CharacteristicCards .GreyText {
        font-size: 18px;
    }

    .SectionTitle {
        font-size: 25px;
    }

    .AboutUs section.Characteristics .Texts {
        font-size: 16px;
        line-height: 30px;
    }

    section.Characteristics .CharacteristicCards .GreyText, section.TargetCategories .CharacteristicCards .GreyText {
        font-size: 14px;
    }

    section.Characteristics .Texts {
        font-size: 18px;
        padding: 10px 15px;
        border-radius: 10px;
    }

    section.Companies .List .Texts {
        line-height: 35px;
    }

    section.Companies .Texts .OrangeBG {
        width: 10px;
        height: 10px;
    }

    .Texts {
        font-size: 13px;
    }

    section.TargetCategories .SectionTitle, section.Statistics .SectionTitle {
        font-size: 20px;
        line-height: 40px;
    }

    header.header .ButtonRow a {
        display: flex;
    }

    header.header .ButtonRow a img {
        width: 80% !important;
        margin: auto;
    }

    section.AppImages .carousel-cell {
        height: 21vh;
    }



    section.AppImages .flickity-prev-next-button {
        width: 30px;
        height: 30px;
    }

    section.Statistics .CharacteristicCards .SectionTitle {
        font-size: 22px;
        line-height: 25px;
    }

    .BigTexts {
        font-size: 16px;
    }

    section.Statistics .CharacteristicCards img {
        width: 70%;
    }

    header.header h1 {
        font-size: 25px;
    }

    header.header h2 {
        font-size: 15px;
        line-height: 50px;
    }

    header.header h1 {
        font-size: 22px;
        line-height: 40px;
    }

    header.header h2 span {
        border-bottom: 4px solid #FFB703;
    }

    .DownloadText {
        justify-content: center;
    }

    header.header .PhonePart img {
        width: 250px;
        margin-top: 40px;
    }

    .navbar-brand img {
        height: 30px;
    }

    nav.navbar {
        padding: 15px 0px !important;
    }

}